.item-a {
  grid-area: header;
  background-color: deepskyblue;
}
.item-b {
  grid-area: main;
  background-color: yellow;
}
.item-c {
  grid-area: sidebar;
  background-color: tomato;
}
.item-d {
  grid-area: footer;
  background-color: lightgreen;
}
.item-e {
  grid-area: main-text;
  background-color: white;
}

.button {
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 50px auto;
  grid-template-rows: 40px 40px auto 80px;
  grid-template-areas: 
    "header header header"
    "sidebar . main"
    "sidebar . main-text"
    "footer footer footer";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
