.flex-container {
  display: flex;
  /* TODO */
}

.flex-item {
  background: tomato;
  width: 100px;
  height: 75px;
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}